{% extends "lfs/base.html" %}
{% load lfs_tags  %}
{% load portlets_tags %}
{% load lfs_theme_tags %}
{% load sshop_tags %}
{% load extra_breadcrumbs_tags %}

{% block section %}category{% endblock %}

{% block breadcrumbs %}
    {% extra_breadcrumbs_for category %}
{% endblock %}

{% block content %}
    <input type="hidden" id="hr_urls_templates" value="{{ hr_urls_templates }}" />
    <input type="hidden" id="unpacked_hr_urls" value="{{ unpacked_hr_urls }}" />
    <input type="hidden" id="category_slug" value="{{ category_slug }}" />
    {{ category.static_block.html|safe }}
    {{ category_inline|safe }}
{% endblock %}
{% block body_bottom %}
<script type="text/javascript">
    config.right_portlet_count++;
</script>
{% endblock %}