{% load i18n %}
<div class="navbar main-nav">
    <div class="navbar-inner">
    <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">{% trans "Menu" %}</a>
    <div class="nav-collapse">
    <ul class="nav">
        {% for tab in tabs1 %}<li>  
        {% if tab.category.get_icon.url %}
            <a href="{{ tab.link }}"><div class="icon {{ tab.category.slug }}" style="background-image: url({{ tab.category.get_icon.url }});"></div></a>
        {% endif %}
        <a href="{{ tab.link }}">{{ tab.title }}</a><span class="catalog_border"></span></li>{% endfor %}
        <li>  
            <a href="/visual-search/">
                <div class="icon icon_visual" style="background-image: url('/static/img/visual.png');"></div>
            </a>
            <a href="/visual-search/">Визуальный подбор</a>
        </li>
        <li> 
            <a href="/tires-calculator/">
                <div class="icon" style="background-image: url('/static/img/bus_Calc.png');"></div>
            </a>
            <a href="/tires-calculator/">Шинный калькулятор</a>
        </li>
    </ul>
    {% if tabs2 %}
 
    {% endif %}
    </div>
    </div>
    </div>
</div>