{% load mptt_tags %}
<div id="v-menu">
<div id="main-nav">
        <ul>
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category">
                    <p class="a_category">{{ top_category.name }}</p>
                    <span></span>
                <div id="sub-nav">
                    {% if not top_category.is_leaf_node %}
                        {% for category in top_category.get_children %}
                        <a href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div> 
   <script type="text/javascript">
$(document).ready(function(){
    $(".a_category").click(function() {
        $(this).parents('.main-category').children('#sub-nav').slideToggle(300);
    });
});   
</script>