{% load i18n %}
{% if filter.options %}
<div class="row-fluid">
<div class="span4 filter-title">{{ filter.title }}</div>

<div class="span8 filter-options">    
    <select class="filter_5" name="{{ filter.identificator }}"
        id="filter-5-{{ filter.identificator }}">
    <option value="none">Все</option>    
    {% for option in filter.options %}
    {% if option.quantity %}
    <option value="{{ option.identificator }}"
    {% if option.checked %} selected="selected"{% endif %}>{{ option.title }}
    </option>
    {% endif %}
    {% endfor %}
    </select>
</div>
</div>
{% endif %}