<h4>{{ portlet.title }}</h4>
<div class="step-by-step" id="step-by-step-{{ portlet_id }}">
    {{ step_by_step_form|safe }}
</div>

<script type="text/javascript">
$(document).ready(function() {
    reload_stepbystep_form($("#step-by-step-{{ portlet_id }} select"), {{ portlet_id }});
});
</script>

<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>