<img src="/static/img/shina_g.png" class="pull-left">
<div id="step-by-step-{{ portlet_id }}" class="step-by-step pull-right">
    {{ step_by_step_form|safe }}
</div>

<script type="text/javascript">
$(document).ready(function() {
    reload_stepbystep_form($("#step-by-step-{{ portlet_id }} select"), {{ portlet_id }});
});
</script>

<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
