{% load url from future %}
<div id="wrapp-news">
{% if news %}
    <h4>Последние новости по теме:</h4>
{% endif %}
{% for n in news %}
    <div class="news">
        <div class="wrap_img">
            <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'><img src="{{MEDIA_URL}}{{ n.icon }}" alt=""></a>
        </div>
        <div class="description">
            <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }}</a>
            {% if preamble %}
                <p>{{ n.preamble|safe }}</p>
            {% endif %}
            <div class="create_date">{{ n.create_date }}</div>
        </div>
    </div>
{% endfor %}
</div>
