{% load scms_tags %}
{% load url from future %}

    {% if news %}
        {% ifequal category.slug current_slug %}
            <li class="active"><a class="{% if not category.parent %}parent{% endif %}">{{ category.name }}</a></li>
        {% else %}
            <li><a class="{% if not category.parent %}parent{% endif %}" href="{% url 'scms_view_category' category.slug %}">{{ category.name }}</a></li>
        {% endifequal %}
    {% else %}
        {{ category.name }}
    {% endif %}

{% if children %}
    <ul class="nav nav-list">

        {% for child in children %}
            {% menu_tree child current_slug %}
        {% endfor %}
    </ul>
{% endif %}
</li>