<div id="wrapp-news">
    <h4>Энциклопедия Шин</h4>
    {% for n in news %}

        <div class="news">
            <div class="wrap_img">
                <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'><img src="{{MEDIA_URL}}{{ n.icon }}" alt=""></a>
            </div>
            <div class="description">
                <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }}</a>
                {% if preamble %}
                    <p>{{ n.preamble|safe }}</p>
                {% endif %}
                <div class="create_date">{{ n.create_date }}</div>
            </div>
        </div>
      
    {% endfor %}
    <div class="all_info"> 
        <a href="/info/">Вся Энциклопедия Шин</a>
    </div>
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
        mediator.subscribe("document_ready", function(){
        $('#middle-slot-container').prepend($('#slider_{{id}}'))
    });
</script>