{% load url from future %}
{% load properties_tags %}
{% load i18n l10n lfs_tags sshop_tags %}
{% if variants %}
{% if variants.1 or product.pk != variants.0.pk %}

<h3>{% trans "Variants" %}</h3>

<table class="table product-variants">
    <tr>
        <th>
            {% trans 'Размерность' %}
        </th>
        {% ifequal product.get_category.slug 'shiny' %}
        <th>
            {% trans 'Индекс скорости' %}
        </th>
        <th>
            {% trans 'Индекс нагрузки' %}
        </th>
        {% endifequal %}
        <th>Код товара</th>
        <th class="number">
            {% trans 'Price' %}
        </th>
        <th></th>
    </tr>
    {% for product_variant in variants %}
    {% if product.pk != product_variant.pk or product.is_product_with_variants %}
    <tr>
        <td><a href="{% url 'lfs.catalog.views.product_view' product_variant.slug %}">
        {% ifequal product.get_category.slug 'diski' %}
        {% property_for_product product_variant "diametr" %}/{% property_for_product product_variant "shirina-diska" %}/{% property_for_product product_variant "pcd" %}/{% property_for_product product_variant "dia" %}/{% property_for_product product_variant "et" %}
        {% endifequal %}
        {% ifequal product.get_category.slug 'shiny' %}
        {% property_for_product product_variant "shirina-shinyi" %}/{% property_for_product product_variant "profil" %}/ {% property_for_product product_variant "diametr" %}
        {% endifequal %}
        </a></td>
        {% ifequal product.get_category.slug 'shiny' %}
        <td>{% property_for_product product_variant "indeks-skorosti" %}</td>
        <td>{% property_for_product product_variant "indeks-nagruzki" %}</td>
        {% endifequal %}
        <td>{% show_product_id product_variant %}</td>
        <td class="number" nowrap="nowrap">
            {% if product_variant.get_for_sale %}
                <span class="for-sale-standard-price">
                    {% standard_price product_variant %}
                </span>
                {% for_sale_price product_variant %} 
            {% else %} 
                {% price product_variant %} 
            {% endif %}
        </td>
        <td>
        {% if product_variant.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product_variant.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline hide" name="quantity" type="hidden" value="4" />
            <button class="btn btn-mini">{% trans "Купить" %}</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endif %}
