{% load i18n %}
<div class="row-fluid">
    {% with amount=cart.get_amount_of_items %}
    {% if amount == 0 or not cart %}
    <div id="empty-cart" class="span6">
        <img src="{{ STATIC_URL }}/img/empty-cart.jpg">
    </div>
    <div id="empty-cart-text" class="span6">
        <p>{% trans "Корзина" %}</p>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <p class="btn btn-small disable" >{% trans "Корзина пуста" %}</p>
        </div>
    </div>
    {% else %}
    <div class="span4">
        <a href="{% url lfs_checkout %}"><img src="{{ STATIC_URL }}/img/full-cart1.png"></a>
    </div>
    <div class="span8">
        <p>{% trans "Корзина" %}
            <a href="{% url lfs_checkout %}">({{ amount|floatformat  }})</a> 
        </p>
        <p>{% trans 'На сумму' %}: <span>{{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
    </div>
        <div class="row-fluid">
            <div class="span12">
                <a class="btn btn-small btn_cart" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
            </div>
        </div>
    {% endif %}
    {% endwith %}
</div>

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
