<div>
{% for select in selects %}
    {% if select.options %}
    <select name="step_item_id_{{ select.options.0.parent.id }}">
        <option>{{ select.level_name }}</option>
        {% for o in select.options %}
        <option value="{{ o.id }}" {% if select.init == o.id %}selected{% endif %}>{{ o.name }}</option>
        {% endfor %}
    </select>
    {% else %}
    <select disabled>
    </select>
    {% endif %}
{% endfor %}
</div>

<div>
{% for f in filters %}
    <a href="{{ f.filter_url }}">{{ f.filter_name.name }}</a> 
    {# {% if f.filter_url == request.path %} #}
    {# <i class="icon-ok"></i> #}
    {# {% endif %} #}
{% endfor %}
</div>
