{% load url from future %}

<div id='esender_subscribe_abonent_block_{{ portlet_id }}' class="subscribe">
	<form id="subscribe_abonent_{{ portlet_id }}" method="POST" action="{% url "esender_subscribe_abonent" %}">
		{% csrf_token %}
		{{ form.media }}
		{{ form.email.errors }}
		{{ form.email }}
		{{ form.name.errors }}
		{{ form.name }}
		{{ form.captcha.errors }}
		{{ form.captcha }}
		<input type="button" class="dropError" value="Подписаться" id="subscribe_abonent_submit_{{ portlet_id }}">
	</form>


<script type="text/javascript">
	$(document).ready(function(){
		$("#subscribe_abonent_submit_{{ portlet_id }}").click(function(){
			$.ajax({
                type:'POST',
                url: '{% url "esender_subscribe_abonent" %}',
                data: $('#subscribe_abonent_{{ portlet_id }}').serialize()+'&use_captcha={{use_captcha}}&portlet_id={{ portlet_id }}',
                success:function (data){
                    data = JSON.parse(data);
                    $('#esender_subscribe_abonent_block_{{ portlet_id }}').html(data['html']);
                }
            });
		});
	});
	{% if message %}
		$.jGrowl('{{message}}');
	{% endif %}
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
</div>
