i<div class="row-fluid brand_name">
{% load i18n %}
{% if category_slug %}
    <div class="external_blocks_filter" id="external_blocks_filter_{{ id }}" >
        {% for f in filters %}
        <div class="span12">
            <div id="external-filter-{{ f.filter.id }}">
                {% if f.view == 'list' %}
                    {% include "external_blocks/external_blocks_filter_list_brand.html" %}
                {% elif f.view == 'select' %}
                    {% include "external_blocks/external_blocks_filter_select.html" %}
                {% endif %}
            </div>
        </div>    
        {% endfor %}
        {% if show_button %}
    <div class="span2">
        <!-- <a class="clear_external_filter btn pull-left"><i class="icon-remove-circle icon-white"></i></a> -->
        <a href='{{ button_link }}' class="btn external_filter pull-right">{{ show_button }}</a>
    </div>
        {% endif %}
    </div>
    {% include "external_blocks/external_blocks_filter.js" %}
{% endif %}
</div>