{% for option, link in f.options %}
    <div>
        {% if option.products.all.0.manufacturer.image %}
            <img src="{{option.products.all.0.manufacturer.image.url}}">
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% else %}
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% endif %}
    </div>
{% endfor %}