{% for option, link in f.options %}
{% if option.is_popular %}
    <div class="popular">
        {% if option.products.all.0.manufacturer.image %}
            <img src="{{option.products.all.0.manufacturer.image.url}}">
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% else %}
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% endif %}
    </div>
{% endif %}
{% endfor %}
<div class="wrapp_all_brands">
    <p class="all_button_{{ id }}"><span>Показать все бренды</span></p>
    <div class="all_brands" style="display:none;">
        {% for option, link in f.options %}
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
   $(".wrapp_all_brands p.all_button_{{ id }}").click(function() {
        $(this).toggleClass("active");
        $(this).next('.all_brands').slideToggle(300);
    });
</script>