<div class="row-fluid external_blocks sezon_tip">
{% load i18n %}
{% if category_slug %}
    <div class="external_blocks_filter" id="external_blocks_filter_{{ id }}" >
        {% for f in filters %}
        <div class="span12">
            <div id="external-filter-{{ f.filter.id }}" class="sezon_tip_list">
                {% for option, link in f.options %}
                    <div>
                        <img class="sezon_tip_img" src="{{ STATIC_URL }}img/{{f.filter.identificator}}_{{ forloop.counter }}.png" ><a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>    
        {% endfor %}
        {% if show_button %}
    <div class="span2">
        <!-- <a class="clear_external_filter btn pull-left"><i class="icon-remove-circle icon-white"></i></a> -->
        <a href='{{ button_link }}' class="btn external_filter pull-right">{{ show_button }}</a>
    </div>
        {% endif %}
    </div>
    {% include "external_blocks/external_blocks_filter.js" %}
{% endif %}
</div>