{% extends "lfs/base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block left-slot-wrapper %}
{% endblock %}
{% block right-slot-wrapper %}
{% endblock %}
{% block middle-slot %}{% endblock %}

{% block content %}
    <h1>{% trans 'Tire calulator' %}</h1>
    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table class="table">
            <tr>
                <th>
                    <p style="text-align:center">{% trans 'Old size' %}</p>
                </th>
                <th>
                    <p style="text-align:center">{% trans 'New size' %}</p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>
                        
                        {{ form.old_width|as_bootstrap:"vertical" }}
                    </p>
                    <p>

                        {{ form.old_height|as_bootstrap:"vertical" }}
                    </p>
                    <p>

                        {{ form.old_radius|as_bootstrap:"vertical" }}
                    </p>
                </td>
                <td>
                    <p>

                        {{ form.new_width|as_bootstrap:"vertical" }}
                    </p>
                    <p>
                        {{ form.new_height|as_bootstrap:"vertical" }}
                    </p>
                    <p>

                        {{ form.new_radius|as_bootstrap:"vertical" }}
                    </p>
                </td>
            </div>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Calculate' %}">
                </td>
            </tr>
        </table>
    </form>
    {% if results %}
        <table class="table">
            <tr>
                <th></th>
                <th>{% trans 'Old size' %}</th>
                <th>{% trans 'New size' %}</th>
            </tr>
            <tr>
                <td>
                    <p>{% trans 'External diameter of wheel' %}</p>
                    <p>{% trans 'Diameter of disc' %}</p>
                    <p>{% trans 'Tire width' %}</p>
                    <p>{% trans 'Tire height' %}</p>
                </td>
                <td>
                    <p>{{ old_wheel_dia }}{% trans 'cm' %}</p>
                    <p>{{ old_disk_dia }}{% trans 'cm' %}</p>
                    <p>{{ old_width }}{% trans 'cm' %}</p>
                    <p>{{ old_tire_height }}{% trans 'cm' %}</p>
                </td>
                <td>
                    <p>{{ new_wheel_dia }}{% trans 'cm' %}</p>
                    <p>{{ new_disk_dia }}{% trans 'cm' %}</p>
                    <p>{{ new_width }}{% trans 'cm' %}</p>
                    <p>{{ new_tire_height }}{% trans 'cm' %}</p>
                </td>
            </tr>
        </table>
        {% ifnotequal old_width new_width %}
            {% if old_width < new_width %}
                <h5>{% trans 'Wheel width was more' %}</h5>
                <p><i class="icon-plus"></i> {% trans 'better traction in summer' %}</p>
                <p><i class="icon-plus"></i> {% trans 'longer tire life' %}</p>
                <p><i class="icon-plus"></i> {% trans 'better appearance' %}</p>
                <p><i class="icon-minus"></i> {% trans 'a slight increase in consumption' %}</p>
                <p><i class="icon-minus"></i> {% trans 'possible increase in noise' %}</p>
            {% else %}
                <h5>{% trans 'Wheel width was less' %}</h5>
                <p><i class="icon-plus"></i> {% trans 'better traction in winter' %}</p>
                <p><i class="icon-plus"></i> {% trans 'less noise' %}</p>
                <p><i class="icon-plus"></i> {% trans 'a slight decrease in consumption' %}</p>
                <p><i class="icon-minus"></i> {% trans 'reduced tire life' %}</p>
            {% endif %}
        {% endifnotequal %}
        {% ifnotequal old_tire_height new_tire_height %}
            {% if old_tire_height > new_tire_height %}
                <h5>{% trans 'Tire profile height was less' %}</h5>
                <p><i class="icon-plus"></i> {% trans 'improved handling at speed'%}</p>
                <p><i class="icon-minus"></i> {% trans 'car will be tougher' %}</p>
                <p><i class="icon-minus"></i> {% trans 'greater the risk of damage to disc' %}</p>
            {% else %}
                <h5>{% trans 'Tire profile height has more' %}</h5>
                <p><i class="icon-plus"></i> {% trans 'car will be softer' %}</p>
                <p><i class="icon-plus"></i> {% trans 'less risk of damage to disc' %}</p>
                <p><i class="icon-minus"></i> {% trans 'deteriorating handling at speed' %}</p>
            {% endif %}
        {% endifnotequal %}
        {% ifnotequal old_wheel_dia new_wheel_dia %}
            {% if old_wheel_dia < new_wheel_dia %}
                <h5>{% trans 'Wheel has more' %}</h5>
                <p><i class="icon-plus"></i> {% trans 'a more comfortable ride over the wells and off-road' %}</p>
                <p><i class="icon-minus"></i> {% trans 'deteriorating handling at speed' %}</p>
            {% else %}
                <h5>{% trans 'Wheel has become less' %}</h5>
                <p><i class="icon-minus"></i> {% trans 'less comfortable ride on the road' %}</p>
                <p><i class="icon-plus"></i> {% trans 'improved handling at speed' %}</p>
            {% endif %}
        {% endifnotequal %}
    {% endif %}

{% endblock %}

{% block body_bottom %}
  <script>
  mediator.publish('change_slots_width', "span3", "span12", "span12");
  config.left_portlet_count++;
  config.right_portlet_count++;
  </script>
{% endblock %}
