{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# load regions_tags #}
{% load snippets_tags %}
{% load vertical_menu_tags %}
{% load seo_data %}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    {% snippets 'Head top' %}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% get_title %}{% endblock %}</title>
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vertical_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/css/skin/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" />
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>

        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>
    {% endcompress %}
    {% include 'lfs/extra_css.html' %}
    {% snippets 'Head bottom' %}
</head>
<!-- Start SiteHeart code -->
<script>
(function(){
// your widget ID
var widget_id = 677140;
_shcp = [{widget_id : widget_id}];
// set default language
var lang = (navigator.language || navigator.systemLanguage
|| navigator.userLanguage || "en")
.substr(0, 2).toLowerCase();
// script url
var url = "widget.siteheart.com/widget/sh/" + widget_id + "/"
+ lang + "/widget.js";
var hcc = document.createElement("script");
hcc.type = "text/javascript";
hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")
+ "://" + url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<!-- End SiteHeart code -->
<body class="{% block section %}{% endblock %}">
    {% block header_messages %}
        {% if request.maintenance_messages %}
        <div>
        {% for m in request.maintenance_messages %}
        {% if m.type > 0 %}   
            <div class="alert alert-warning">{{ m.message }}</div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    {% endblock %}

     {% snippets 'Body top' %}
    <div id="seo-text-wrapper">
        {% get_seo_text_new %}
    </div>

    <div id="wrap"> {# Use class "container-fluid" on the following div for making complete website fluid #}
    <div id="header">
        <div class="header-shadow"></div> {# Div for shade line #}
        <div class="wrap-top-bar">
            <div id="top-bar-container"> {# Client script use this container for insert top bar here by ajax #}
            <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif">
            </div>
        </div>
        <div class="wrap_header">
        <div class="row-fluid print-hide container">
            {% block header %}
            <div id="logo" class="span4">
                <a href="/"><img src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" alt="Logo"></a>
                {# show_regions #}
            </div>
            <div class="span5">
                <div class="row-fluid" id="static_block">
                        {% static_block "header" %}
                </div>
                <div class="row-fluid print-hide">
                    <div class="span12">
                        {% include "lfs/search.html" %}
                    </div>
                </div>
                <br>
            </div>
            <div class="span1">
                <a href="/forms/obratnyy_zvonok/" id="id_callback_me" class="modal-link">заказать обратный звонок</a>
            </div>
            <div class="span2">
                {# Client script use this container for load cart here by ajax #}
                <div id="cart-container"><img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif"></div>
            </div>
            {% endblock %}
        </div>
        </div>
    </div>
    <div class="wrap_block">
    <div class="row-fluid print-hide">
            {# Div for tab panel #}
            <div class="span12">{% block tabs %}{{ SHOP.prerendered_menu|safe }}{% endblock %}</div>
    </div>
    <div class="container row-fluid print-hide">
    {% if main_page %}
        {% static_block "banner" %}
    {% endif %}
     {# {% vertical_menu %} #}
    {% if not main_page %}
        {% load share_widget %}
    {% endif %}
    <div id="content">
           {%if main_page%}
               <div id="home_page" class="row-fluid">
                <div id="container_names" >
                <span>
                Подбор Шин по марке автомобиля
                </span>
                <span class="pull-right">
                Подбор Дисков по марке автомобиля
                </span>
                </div>
            {% endif %}
            {%if not main_page%}
                <div class="row-fluid">

            {% endif %}
            {% block wrapper %}

                           {# ------------------- LEFT container ------------------#}
                {% block left-slot-wrapper %}
                    {# if SlotLeft #}
                        <div id="left-slot-container" class="span3"> {# Class is set automatically #}
                            <div class="left-slot">
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
                {# ------------------- END LEFT container ------------------#}
                <div id="middle-slot-container"> {# Class is set automatically #}
                    <div class="middle-slot">
                        <div class="row-fluid"><div class="span12">
                             {%if not main_page%}
                                <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
                            {% endif %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        {% if main_page %}
                        <div class="row-fluid">
                        <div class="span12"><br>
                        {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}
                        </div></div>{% endif %}

                        {% if request.proxyattr_car %}
                        <div class="row-fluid">
                        <div class="span12"><br>
                        {% insert_portlet "replacingrecommendportlet" %}
                        </div></div>{% endif %}
                        {% block content %}{% endblock %}
                        </div></div>
                    </div>
                </div>
                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                                {% block right-slot %}{% lfs_portlet_slot 'Right' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
            {% endblock %}
        {% if main_page %}
        <div id="seo-text-cover">
            <p><span>Показать все</span></p>
        </div>
        <script type="text/javascript">
           $("#seo-text-cover p").click(function() {
                $(this).css({display:"none"});
                $('#seo-text-wrapper').css({height:"100%"});
            });
        </script>
        {% endif %}
        </div>
    </div>
</div>
    <div id="footer">
        <div class="container">
        <div id="wrap_block" class="row-fluid">
                    <div class="row-fluid">
            <div class="span6">
                <ul class="unstyled">
                {% block footer %}
                {% for action in actions %}
                <li>
                  <a href="{{action.link}}">{{action.title}}</a>
                </li>
                {% endfor %}
                {% endblock %}
                </ul>
                {% static_block "footer" %}
            </div>
            <div class="span6">
                <div class="pull-right">{% block bottom-slot %}{% lfs_portlet_slot 'Bottom' %}{% endblock %}</div>
            </div>
        </div>
            <div class="span1">
                {% block colophon %}
                &copy; <script>document.write(new Date().getFullYear());</script> {% trans 'by' %}
                {% endblock %}
            </div>
        </div>


        <div class="row-fluid print-show">
            <div class="span12">
                Alternate footer for print version
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
    <div id="push"></div>


    {% include "lfs/modal.html" %}

    {% block google-analytics-tracking %}
        {% google_analytics_tracking %}
    {% endblock %}
    {% block google-analytics-ecommerce %}{% endblock %}


    {% if DEMO_MODE %}
        {% include "demo_tools/zendesk.html" %}
    {% endif %}
        {% include 'lfs/extra_js.html' %}
       {% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span9", "span9");
          config.right_portlet_count++;
          </script>
    {% endblock %}
        {% snippets 'Body bottom' %}
</body>
</html>
