{% load i18n %}
<div id="sshop-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <p>{% trans "Loading..." %}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">
      <i class="icon-ok icon-white"></i>
      {% trans "Close" %}</button>
  </div>
</div>