{% load i18n %}
        {% if news %}
    <div class="featured-products-portlet portlet">
                 <div class="products-wrapper slideshow">
                     
                    
                    {% if news|length > 5 %}
                    <ul id="categories-carousel" class="jcarousel-skin-tango">
                                    {% for n in news %}
                            <li >   
                                <div class="wrap_img">
                                    <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'><img src="{{MEDIA_URL}}{{ n.icon }}" alt=""></a>
                                        <p><a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }}</a></p>
                                </div>

                            </li>
                                    {% endfor %}
                    </ul>
               
                     {% elif news|length <= 5 %}
                    <ul>
                                    {% for n in news %}
                            <li >   
                                <div class="wrap_img">
                                   <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'><img src="{{MEDIA_URL}}{{ n.icon }}" alt=""></a>
                                        <p><a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }}</a></p>
                                </div>

                            </li>
                                    {% endfor %}
                    </ul>
                   
                    {% endif %}
                   
                </div>
               
                {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
                <script type="text/javascript">

                       $('#categories-carousel').jcarousel({
                        scroll: 1,

                        wrap: 'circular',
                        });

                </script>

            {# slideshow check #}
    </div>
{% endif %}