    {% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}
{% load url from future %}

{# This is version of top bar for printer #}
<div class="row-fluid print-show"><div class="span12">{{ SHOP.name }}</div></div>

{# This is a common version of top bar #}
<div class="row-fluid print-hide container">
    <div class="span2">
    <a href="https://siteheart.com/webconsultation/677140" onclick="o=window.open;o('https://siteheart.com/webconsultation/677140?', 'siteheart_sitewindow_677140', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;" target="siteheart_sitewindow_677140">Online консультант</a>
    </div>
    <div class="span8 green">
        {% include "lfs/link_bar.html" %}        
    </div>
    <div class="span2">
            <a href="/login">Вход/Регистрация</a>
        <div class="navbar pull-right header-nav">
            <ul style="display:none;" class="nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'lfs_my_account' %}">
                <i class="icon-user"></i> {% include "lfs/customer/customer_name.html" %}</a></li>


                {% if user.is_superuser or user.is_staff  %}
                    <li><a href="{% url 'admin:index' %}">{% trans 'Manage' %}</a></li>
                {% endif %}

                <li><a href="/logout">{% trans 'Logout' %}</a></li>
            {% else %}
                {% if not ANON_ONLY %}
                    <li><a href="{% url 'lfs_login' %}">{% trans 'Login' %}</a></li>
                {% endif %}                        
            {% endif %}
            </ul>
        </div>
    </div>
</div>