{% for item in items %}

    {% if item.icon %}
        <i style='background: url("{{ item.icon.url }}") center center;'></i>
    {% endif %}
    <a href="{% url next_level level_string=item.slug %}"><span class="model">{{ item.name|safe }} : </span></a>

    {% for ch in item.get_children %}
        <a href="{% url next_level level_string=ch.slug %}"><span class="model">{{ ch.name|safe }}</span></a>
    {% endfor %}
    {% if not forloop.last %}
    <hr>
    {% endif %}
{% endfor %}
