{% extends "lfs/base.html" %}
{% load url from future %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load seo_data %}

{% block section %}visualitem{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><i class="icon-home"></i></li>
        {% for p in visualitem.get_ancestors %}
           <li> <span class="divider">/</span><a href="{% url 'visual_search_visualitem' p.slug %}">{{ p.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="first-heading">
        {{ visualitem.get_meta_h1 }}
    </h1>
    <a name="constructor"></a>
    {% include "visual_search/portlet_breadcrumbs.html" %}
</div>

<div class="visual-search__wrapper">
<div class="visual-search__description">
{{ visualitem.comment|safe }}
</div>

<script  type="text/javascript" src="{{ STATIC_URL }}visual_search/js/bootstrap-colorpalette.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}visual_search/css/bootstrap-colorpalette.css">

<div class="visual-search__constructor">
<div class="fluid-row"><div class="span12">
<div class="visual-search__constructor__toolbar">
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    {% trans "Select color" %}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <div class="visual-search__constructor__toolbar__colorpalette"></div>
    </li>
  </ul>
</div>
</div>

<div class="visual-search__constructor__board" style="width:{{width}}px;height:{{height}}px;"
data-color="" data-filter_id="" data-searchimage_id="">
{{ board_include|safe }}
</div>
</div></div>
</div>
</div>

<div class="visual-search__constructor__filters">
  <ul class="nav nav-tabs">
  {% for f in visual_filters %}
    <li{% if forloop.first %} class="active"{% endif %}>
    <a href="#filter-{{ f.id }}" data-toggle="tab">{{ f.name }}</a></li>
  {% endfor %}
  </ul>
  <div class="tab-content">
    {% for f in visual_filters %}
    <div class="tab-pane{% if forloop.first %} active{% endif %}" id="filter-{{ f.id }}">
        <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif">
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  var options = {
    colors:[[{% for color in colors %}"{{ color.color }}"{% if not forloop.last %},{% endif %}{% endfor %}]]
  }

  $('.visual-search__constructor__toolbar__colorpalette').colorPalette(options)
    .on('selectColor', function(e) {
      $(".visual-search__constructor__board").loadOverStart();
      var url = "{% url 'visual_search_refresh_board' visualitem.slug %}?color=" + e.color.replace('#','');
      var filter_id = $('.visual-search__constructor__board').attr("data-filter_id");
      if(filter_id != "") { url = url + "&filter_id=" + filter_id; }
      var searchimage_id = $('.visual-search__constructor__board').attr("data-searchimage_id");
      if(searchimage_id != "") { url = url + "&searchimage_id=" + searchimage_id; }

      $('.visual-search__constructor__board').attr({"data-color":e.color.replace('#','')});
      $('.visual-search__constructor__board').load(url, function() {
        $(".visual-search__constructor__board").loadOverStop();
      });
    });

  {% for f in visual_filters %}
    $('#filter-{{ f.id }}').load("{% url 'visual_search_visual_filter' f.id %}");
  {% endfor %}
</script>
{% endblock %}
