{% load url from future %}
{% load i18n %}
{% load mptt_tags %}
{% load lfs_tags %}
<div class="visual_search">
    <h4 class="active top"><span>{{ title }}</span></h4>
    <div class="visual_search_all" style="display:block;">
    <div class="visual-search-breadcrumbs">
    {% include "visual_search/portlet_breadcrumbs.html" %}
    </div>
        {% for item in visualitems %}
            {% if item.icon %}<i><img src="{{ item.icon.url }}" /> </i> {% endif %}
            <a href="{% url 'visual_search_visualitem' item.slug %}">
            <span class="model">{{ item.name|safe }}</span></a>
        {% endfor %}

    </div>
</div>

<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
   mediator.subscribe("document_ready", function(){
   $('#middle-slot-container').prepend($('#slider_{{ id }}'))
});
$(".visual_search h4").click(function() {
   $(".visual_search h4").toggleClass("active");
   $('.visual_search_all').slideToggle(300);
});
</script>
