<ul class="nav nav-pills">
<li class="{% ifequal page_type 'main' %}active{% else %}unactive{% endifequal %}"><span>1. Выбор марки авто</span></li>
<li class="{% if visualitem.level < 3 and visualitem.level >= 0 %}active{% else %}unactive{% endif %}"><span>2. Выбор модели</span></li>
<li class="{% ifequal visualitem.level 3 %}active{% else %}unactive{% endifequal %}"><span>3. Подбор дисков</span></li>
</ul>
