{% extends 'lfs/base.html' %}
{% load mptt_tags %}
{% load visual_search_tags %}
{% load staticfiles %}
{% load lfs_portlets_tags %}


{% block content %}
<script type="text/javascript">
        document.items={};
        {% for item in items %}
            document.items['item{{ item.id}}'] = '{{ item.slug }}';
        {% endfor %}
        function load_years(item){
            var item = item.id;
            console.log($('#'+item).children()[0].alt);
            $.get('/visual_search/'+document.items[item], function(data){
                $('#years').html('<h2>'+$('#'+item).children()[0].alt+'</h2> : '+data);
            });
        }
</script>
{% block right-slot %}{% endblock %}
{% block left-slot %}{% endblock %}  
    

    <a href="../"><h3>{{ level.name }}</h3></a>
    <ul class="breadcrumb">
        {% for p in current.get_ancestors %}
            {% if not forloop.last %}
                <li><a href="{% url next_level level_string=p.slug %}">{{ p.name }}</a> <span class="divider">/</span></li>
            {% else %}
                <li class="active"><a href="{% url next_level level_string=p.slug %}">{{ p.name }}</a> </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if items %}
        <div style="min-height: 300px;">
            <style type="text/css">
                .jcarousel-skin-tango {
                    width: 73%;
                    margin: 0 auto;
                    height: 100%
                }
                .jcarousel-skin-tango .jcarousel-item:hover {
                    border: 3px solid #b4c6ec;
                    border-radius: 7px;
                    box-shadow: 0px 0px 17px 1px #bfc3ce;
                }
                .jcarousel-skin-tango .jcarousel-item{
                    border: 3px solid #fff;
                    height: auto;
                    margin-top: 0;
                }
                .jcarousel-skin-tango .jcarousel-clip-horizontal {
                    height: 100%;
                }
                .jcarousel-skin-tango .jcarousel-container-horizontal {
                    height: 100%;
                }
                .jcarousel-skin-tango .jcarousel-item img {
                    margin: 0;
                    border-radius: 7px;
                }
                .jcarousel-skin-tango #second_level {
                    padding-top: 63px!important;
                    padding-bottom: 20px!important;
                }
                .jcarousel-skin-tango ul .jcarousel-item{
                    margin-left: 10px;
                }
                /*.jcarousel-skin-tango ul .jcarousel-item:nth-child(5n-2){
                    margin-top: -55px;
                }
                .jcarousel-skin-tango ul .jcarousel-item:nth-child(5n+2){
                    margin-top: -35px;
                }
                .jcarousel-skin-tango ul .jcarousel-item:nth-child(5n+4){
                    margin-top: -35px;
                }
                */
                .jcarousel-skin-tango .jcarousel-item-horizontal {
                    margin-right: 10px;
                } 
                .jcarousel-skin-tango .jcarousel-clip-horizontal {
                    min-height: 290px;
                }
                {% for item in items %}
                #item{{ item.id }} {
                    width: 160px!important;
                }
                {% endfor %}
                {% for item in items %}
                #itemss{{ item.id }} {
                    display: none;
                }
                #item{{ item.id }}:hover #itemss{{ item.id }} {
                    display: block;
                 }
                {% for ch in item.get_children %}
                 {% for mn in ch.get_children %}
                #model{{ ch.id }}{{ mn.id }} {
                    display: none;
                }
                {% endfor %}
                {% endfor %}
                {% endfor %}

            </style>

            <script type="text/javascript">
            
                    document.items={};
                        {% for item in items %}
                            document.items['item{{ item.id}}'] = '{{ item.slug }}';
                        {% endfor %}
                        {% for item in items %}
                    function load_years{{ item.id }}(item){
                            var item = item.id;
                        $.get('/visual_search/'+document.items[item], function(data){
                        
                            $('#itemss{{ item.id }}').html(data);
                        
                    });
                    }
      
                    {% for ch in item.get_children %}
                    $(document).ready(function(){
                        $('#mod{{ ch.id }}').click(function(){ 
                             {% for mn in ch.get_children %}
                            if ($('#model{{ ch.id }}{{ mn.id }}').css("display") == "none"){
                                $('#model{{ ch.id }}{{ mn.id }}').css("display", "list-item");
                            }
                            else{
                                $('#model{{ ch.id }}{{ mn.id }}').css("display", "none");
                            }
                             {% endfor %}
                        });
                     });   
                    {% endfor %}

                    {% endfor %}
            </script>
            <div class="visual_search">
            {% for item in items %}

                {% ifnotequal item.get_level 1 %}
                <div class="visual_seach_item" >
                    {% if item.icon %}<i><img src="{{ item.icon.url }}" /></i> {% endif %}
                    <a href="{% url next_level level_string=item.slug %}" ><span class="model">{{ item.name|safe }}</span></a>
                </div>    
                {% else %}
                    {% if forloop.first %}
                        <div class="row-fluid">
                        <ul id="{% if items|length >= 5 %}second_level{% else %}second_level_simple{% endif %}" class="jcarousel-skin-tango ">
                    {% endif %}
                <li id='item{{ item.id }}' onclick="load_years(this);">
                    <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/100x100.gif' %}{% endif %}"
                        alt="{{ item.name }}"
                        >
                        <div id="items{{ item.id }}">
                            <p class="title_model">{{ item.name|safe }}</p>
                            <div id="itemss{{ item.id }}">
                            {% for ch in item.get_children %}
                            <span class="not_active" id="mod{{ ch.id }}" class="model">{{ ch.name|safe }}</span>
                            <ul>
                                {% for mn in ch.get_children %}
                                <li id="model{{ ch.id }}{{ mn.id }}">
                                    <a href="{% url next_level level_string=mn.slug %}"><span class="model">{{ mn.name|safe }}</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                            {% if not forloop.last %}
                            {% endif %}
                            </div>
                            {% for p in current.get_ancestors %}
                                    <li><a href="{% url next_level level_string=p.slug %}">{{ p.name }}</a> <span class="divider">/</span></li>
                            {% endfor %}
                        </div>
                </li>
                {% if forloop.last%}
                    </ul>
                    </div>
                    <div class="row" style="display:none;">
                        <div id="years">

                        </div>
                    </div>
                    </div>
                {% endif %}
                {% endifnotequal %}
            {% endfor %}
            </div>

        </div>
        <script type="text/javascript">
            $('document').ready(function(){

                jQuery(document).ready(function() {
                    jQuery('#second_level.jcarousel-skin-tango').jcarousel({
                        scroll:1,
                        visible: 4,
                        animation: "fast",
                        itemLoadCallback: trigger
                    });
                });
            });
function trigger(carousel, state)
{
  console.log(carousel);
  $('.jcarousel-skin-tango li.jcarousel-item-'+carousel.last).prev().animate(
    { 'margin-top':'-35px',},100 );
  $('.jcarousel-skin-tango li.jcarousel-item-'+carousel.first).next().animate(
    { 'margin-top':'-35px',},100 );
    $('.jcarousel-skin-tango li.jcarousel-item-').animate(
    { 'margin-top':'0px',},100 );
      $('.jcarousel-skin-tango li.jcarousel-item-'+carousel.last).animate(
    { 'margin-top':'0px',},100 );
  $('.jcarousel-skin-tango li.jcarousel-item-'+carousel.first).animate(
    { 'margin-top':'0px',},100 );
  var a = $( '.jcarousel-skin-tango li.jcarousel-item-'+carousel.first).next();
     a.next().animate({
        "margin-top":"-55px",
      }, 100);
}
        </script>
    {% endif %}
    {% if compiled %}
        <script type="text/javascript">
            $('document').ready(function(){
                 $('#car-load').css('display','none');
                document.product_id = "None"
                $.getJSON(
                        '{% url render_image level_string=current.slug %}',
                        function(data){
                            if (data['status'] == 'no image'){
                               $('#car-placeholder').replaceWith('<div id="car-placeholder">Нет изображения</div>');
                           }else{
                               $('#car-placeholder').prop('src', data['image']);
                           }
                        }
                );
                $('#color-select').change(function(){
                    $('#color-select').css('background-color', $("select option:selected").attr('value'));
                    $('#car-load').css({'position': 'absolute','margin': '-254px 0px 0px 380px',"width": "810px","height": "450px","margin": "-450px 0px 0px 0px","text-align": "center","display": "table",'background':'grey','opacity':'0.5'})
                    $('#car-load .inner').css({'display':'table-cell', 'vertical-align':'middle', 'width':'100%', 'height':'100%'})
                    // $('#car-placeholder').prop('src', '{% static 'img/ajax-loader.gif' %}');
                    $.getJSON(
                            '{% url render_image level_string=current.slug %}',{
                                id:document.product_id,
                                color:$("select option:selected").attr('value')
                            },
                            function(data){
                                $('#car-placeholder').prop('src', data['image']);
                                $('#car-load').css('display','none');
                            }
                    );
                });
                $('.product-link').click(function(){
                   // $('#car-placeholder').prop('src', '{% static 'img/ajax-loader.gif' %}');
                  $('#car-load').css({'position': 'absolute','margin': '-254px 0px 0px 380px',"width": "810px","height": "450px","margin": "-450px 0px 0px 0px","text-align": "center","display": "table",'background':'grey','opacity':'0.5'})
                    $('#car-load .inner').css({'display':'table-cell', 'vertical-align':'middle', 'width':'100%', 'height':'100%'})
                        document.product_id = $(this).attr('data');
                    $.ajax({
                        type:'GET',
                        url:'{% url render_image level_string=current.slug %}',
                        data:{
                               id:document.product_id,
                                color:$("select option:selected").attr('value')
                            },
                            success:function(data){
                            data = JSON.parse(data)
                                $('#car-placeholder').prop('src', data['image']);
                                $('#car-load').css('display','none');
                            }
                    });
                });
            });
        </script>
        <div class="pull-right">
            <select name='color-select' id='color-select'>
                    <option value="None" selected='selected'>Без цвета</option>
                {% for color in colors %}
                    <option value="{{ color }}" style="background-color: {{ color }};"></option>
                {% endfor %}
            </select>
        </div>
        <img id='car-placeholder' src="{% static 'img/ajax-loader.gif' %}">
         <div id='car-load'>
            <div class="inner">
                <img src="{% static 'img/ajax-loader.gif' %}">
            </div>
        </div>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                {% for filter in v_filters%}
                    <li {% if forloop.first %} class="active" {% endif %}><a href="#tab{{ forloop.counter }}" data-toggle="tab">{{ filter.name }}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for filter in v_filters%}
                    <div class="tab-pane{% if forloop.first %} active{% endif %}" id="tab{{ forloop.counter }}">
                        {% for product in filter.get_filtered_products %}
                            {% if product.productsearchimage %}
                                {% if product.images.all %}
                                    <img class="product-link" data="{{ product.id }}" src="{{ product.medium_image_url }}">{{product.name}}
                                {% elif product.parent.images.all %}
                                   <img class="product-link" data="{{ product.id }}" src="{{ product.parent.medium_image_url }}">{{product.name}}
                                {% else %}
                                    <img class="product-link" data="{{ product.id }}" src="{% static 'img/100x100.gif' %}">{{product.name}}
                                {% endif %}
                            {% elif product.parent.productsearchimage %}
                                {% if product.images.all %}
                                    <img class="product-link" data="{{ product.id }}" src="{{ product.medium_image_url }}">{{product.name}}
                                {% elif product.parent.images.all %}                                
                                    <img class="product-link" data="{{ product.id }}" src="{{ product.parent.medium_image_url }}">{{product.name}}
                                {% else %}
                                    <img class="product-link" data="{{ product.id }}" src="{% static 'img/100x100.gif' %}">{{product.name}}                                    
                                {% endif %}
                          {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tirerimvariantportlet">
           {% insert_portlet 'tirerimvariantportlet' 'middle' %}
        </div>
    {% endif %}
{% endblock %}
{% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span9", "span12");
          config.left_portlet_count--;
          config.right_portlet_count--;
          </script>
{% endblock %}
