{% extends "lfs/base.html" %}
{% load url from future %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load seo_data %}
{% load staticfiles %}

{% block section %}visualitem{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs visualitem.full_name %}
{% endblock %}

{% block content %}

{% block right-slot %}{% endblock %}
{% block left-slot %}{% endblock %}  

<div class="page-header">
    <h1 class="first-heading">
        {{ visualitem.get_meta_h1 }}
    </h1>
    {% include "visual_search/portlet_breadcrumbs.html" %}
</div>

<div class="visual-search__wrapper">
<div class="visual-search__description">
{{ visualitem.comment|safe }}
</div>
<style type="text/css">
    .jcarousel-skin-tango {
        width: 73%;
        margin: 0 auto;
        height: 100%
    }
    .jcarousel-skin-tango .jcarousel-item:hover {
        border: 3px solid #b4c6ec;
        border-radius: 7px;
        box-shadow: 0px 0px 17px 1px #bfc3ce;
    }
    .jcarousel-skin-tango .jcarousel-item{
        border: 3px solid #fff;
        height: auto;
        margin-top: 0;
        background-color: white;
    }
    .jcarousel-skin-tango .jcarousel-clip-horizontal {
        height: 100%;
    }
    .jcarousel-skin-tango .jcarousel-container-horizontal {
        height: 100%;
    }
    .jcarousel-skin-tango .jcarousel-item img {
        margin: 0;
        border-radius: 7px;
    }
    .jcarousel-skin-tango #second_level {
        padding-top: 63px!important;
        padding-bottom: 20px!important;
    }
    .jcarousel-skin-tango ul .jcarousel-item{
        margin-left: 10px;
    }
/*    .jcarousel-skin-tango ul .jcarousel-item:nth-child(5n-2){
        margin-top: -55px;
    }
    .jcarousel-skin-tango ul .jcarousel-item:nth-child(5n+2){
        margin-top: -35px;
    }
    .jcarousel-skin-tango ul .jcarousel-item:nth-child(5n+4){
        margin-top: -35px;
    }*/
    
    .jcarousel-skin-tango .jcarousel-item-horizontal {
        margin-right: 10px;
    } 
    .jcarousel-skin-tango .jcarousel-clip-horizontal {
        min-height: 290px;
    }
    {% for item in children %}
    #item{{ item.id }} {
        width: 160px!important;
    }
    {% endfor %}
    {% for item in children %}
    #itemss{{ item.id }} {
        display: none;
    }
    #item{{ item.id }}:hover #itemss{{ item.id }} {
        display: block;
     }
    {% for ch in item.get_children %}
     {% for mn in ch.get_children %}
    #model{{ ch.id }}{{ mn.id }} {
        display: none;
    }
    {% endfor %}
    {% endfor %}
    {% endfor %}

</style>

<script type="text/javascript">

        document.items={};
        {% for item in items %}
            document.items['item{{ item.id}}'] = '{{ item.slug }}';
        {% endfor %}
        function load_years(item){
            var item = item.id;
            console.log($('#'+item).children()[0].alt);
            $.get('/visual_search/'+document.items[item], function(data){
                $('#years').html('<h2>'+$('#'+item).children()[0].alt+'</h2> : '+data);
            });
        }


        document.items={};
            {% for item in children %}
                document.items['item{{ item.id}}'] = '{{ item.slug }}';
            {% endfor %}
    
    {% for item in children %}
        function load_years{{ item.id }}(item){
                var item = item.id;
            $.get('/visual_search/'+document.items[item], function(data){
            
                $('#itemss{{ item.id }}').html(data);
            
        });
        }

        {% for ch in item.get_children %}
        $(document).ready(function(){
            $('#mod{{ ch.id }}').click(function(){ 
                 {% for mn in ch.get_children %}
                if ($('#model{{ ch.id }}{{ mn.id }}').css("display") == "none"){
                    $('#model{{ ch.id }}{{ mn.id }}').css("display", "list-item");
                }
                else{
                    $('#model{{ ch.id }}{{ mn.id }}').css("display", "none");
                }
                 {% endfor %}
            });
         });   
        {% endfor %}

    {% endfor %}
</script>

<div class="visual_search">
<div class="row-fluid">
<ul id="{% if children|length >= 5 %}second_level{% else %}second_level_simple{% endif %}" class="visual-search__children-list jcarousel-skin-tango">
{% for item in children %}
    <li id='item{{ item.id }}' onclick="load_years(this);">
        <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/100x100.gif' %}{% endif %}" alt="{{ item.name }}">

                        <div id="items{{ item.id }}">
                            <p class="title_model">{{ item.name|safe }}</p>
                            <div id="itemss{{ item.id }}">
                            {% for ch in item.get_children %}
                            <span class="not_active" id="mod{{ ch.id }}" class="model">{{ ch.name|safe }}</span>
                            <ul>
                                {% for mn in ch.get_children %}
                                <li id="model{{ ch.id }}{{ mn.id }}">
                                    <a href="{% url 'visual_search_visualitem' mn.slug %}"><span class="model">{{ mn.name|safe }}</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                            {% if not forloop.last %}
                            {% endif %}
                            </div>
                            {% for p in current.get_ancestors %}
                                    <li><a href="{% url 'visual_search_visualitem' p.slug %}">{{ p.name }}</a> <span class="divider">/</span></li>
                            {% endfor %}
                        </div>
               {% if forloop.last%}
                    </ul>
                    </div>
                    <div class="row" style="display:none;">
                        <div id="years">

                        </div>
                    </div>
                    </div>
                {% endif %}
{% endfor %}
</ul>
</div>
</div>
</div>

<script type="text/javascript">
            $('document').ready(function(){

                jQuery(document).ready(function() {
                    jQuery('#second_level.jcarousel-skin-tango').jcarousel({
                        scroll:1,
                        visible: 5,
                        animation: "fast",
                        itemLoadCallback: trigger,
                    });
                });
            });
var carouselOffset = 0
function trigger(carousel, state)
{
    index = carousel.first
    if (carousel.last == {{ children|length }} &&  state=='prev') {
        if (!carouselOffset) {
            carouselOffset = 1;
            index+=1; 
        }
        else {
            carouselOffset = 0;
        }
    }
  $('.jcarousel-skin-tango li.jcarousel-item-'+index).animate(
    { 'margin-top':'0px',},100 );
  $('.jcarousel-skin-tango li.jcarousel-item-'+(index+1)).animate(
    { 'margin-top':'-35px',},100 );
  $('.jcarousel-skin-tango li.jcarousel-item-'+(index+2)).animate(
    { 'margin-top':'-55px',},100 );
  $('.jcarousel-skin-tango li.jcarousel-item-'+(index+3)).animate(
    { 'margin-top':'-35px',},100 );
  $('.jcarousel-skin-tango li.jcarousel-item-'+(index+4)).animate(
    { 'margin-top':'0px',},100 );
}
    </script>
{% endblock %}

{% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span9", "span12");
          config.left_portlet_count--;
          config.right_portlet_count--;
          </script>
{% endblock %}
