{% load i18n %}
{% load lfs_tags %}
<div class="text-portlet portlet">
    {% if title %}<div class="portlet-header">
        <h4>{{ title }}</h4>
    </div>{% endif %}
    <div class="portlet-body">
        {{ text|safe }}
    </div>
</div>
