{% load i18n %}
{% load sshop_tags %}

{% if topseller %}
    <div id="portlet_{{ slot.id }}_{{ portlet_id }}" class="topseller-portlet portlet">

        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>

        <div class="portlet-body">
            {% for item in topseller %}
            {% with item.product as product %}
            <div class="portlet-item{% if slot.type_of_slot == 5 %} horizontal{% endif %}">
                <div class="wrapp_img">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.get_image.image.url_100x100 }}">
                    </a>
                </div>
                <div class="description">
                    <a href="{{ product.get_absolute_url }}">
                    {{ product.get_name }}
                    </a>
                    <div class="product-price">
                        {% format_as_price product.price %}
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>{# portlet-body #}

    </div>

<script type="text/javascript">
{% if slot.slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot.slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
