{% load url from future %}
{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                    {% if product.get_image.image.url_400x400 %}
                        {% badges_for_product product %}
                        <img class="img_product_{{ category.slug }}" alt="{{ product.name }}" src="{{ product.get_image.image.url_400x400 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" width="100px" height="100px" />
                    {% endif %}
                </a>
            </div>
            <div class="span7">
                
                <div class="product-caption"><a href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a></div>
                {% property_value_icons product %}
                {% if product.get_short_description %}
                    <p class="show_description show_description_{{ product.id }}"><span>Посмотреть описание</span></p>
                    <div class="product-description">{{ product.get_short_description|safe }} <a class="more_info" href="{% url 'lfs.catalog.views.product_view' product.slug %}">подробнее</a></div>
                {% endif %}

                {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}

                {% if not product.is_product_with_variants %}
                <div class="product-statuses">
                <span class="label-popover {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>

                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                </div>
                <div class="product-form">
                {% if product.has_variants %}
                    {% if product.get_default_variant.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Добавить к сравнению" %}</a>
                    {% endif %}
                {% else %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url 'lfs_comparison' %})" id="compare_{{ product.id }}">{% trans "Добавить к сравнению" %}</a>
                    {% endif %}
                {% endif %}
                </div>
                {% endif %}
                {% if product.is_product_with_variants %}
                <div id="variants-{{ product.pk }}"></div>
                {% endif %}
            </div>
            <div class="span3">
            {% if product.is_product_with_variants %}
                <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    <span class="orange_price">{% cheapest_price product %} </span>
                </span>
                </div>  
                <a href="{% url 'lfs_product_variants_for_category' product.pk %}" class="btn ajax-load avaible_variants avaible_variants_{{ product.pk }}" data-container="#variants-{{ product.pk }}">{% trans "Доступные типоразмеры" %}</a>
                <script type="text/javascript">
                $('a.avaible_variants_{{ product.pk }}').click(function () {
                 if ($("#variants-{{ product.pk }}").html()){
                    $("#variants-{{ product.pk }}").toggle()
                 }
                })
                </script>
            {% else %}

            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="for-sale-price">{% standard_price product %}</span>
                <span class="label label-important price"><span class="orange_price">{{ product.for_sale_price }} </span>{{ SHOP.default_currency.abbr }}</span>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price"> 
                   <span class="orange_price">{{ product.price}} </span>{{ SHOP.default_currency.abbr }}
                </span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline hide" name="quantity" type="hidden" value="4" />
            <button class="btn">{% trans "Купить" %}</button>
            </form>
            {% endif %}
            {% endif %}
            {% if product.manage_stock_amount %}
            <span class="stock_amount">{% trans "Stock amount:" %} {{ product.stock_amount|floatformat:"0" }}
            {% if product.unit %}{{ product.unit }}{% endif %}</span>
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
