{% load i18n lfs_tags %}
<div class="row-fluid category-toolbar">
    <div class="span12">
    <h1 class="category-caption pull-left">{{ category.name }} {% if filtered %}({{ products_count }}){% endif %} </h1>

    <div class="pull-right">
    <div class=" pull-left category-view-toolbar">
    Отобразить: 
        <a href="{% url lfs_catalog_set_page_mode %}?mode=list" class="not_active {% if page_mode == 'list' %} active{% endif %}"
            title="{% trans 'List' %}">списком</a>
        <a href="{% url lfs_catalog_set_page_mode %}?mode=table" class="not_active {% if page_mode == 'table' %} active{% endif %}"
            title="{% trans 'Table' %}">таблицей</i></a>
    </div>
    <div class="pull-left">
    {% sorting %}
    </div>
    </div>
    </div>
</div> <!-- row-fluid -->

<script type="text/javascript">
$('.category-toolbar a').click(function () {
    if ($(this).attr('href').split('mode=')[1] == "list")
    {
        mediator.publish('list_page_mode');
    }
    else
    {
        mediator.publish('table_page_mode');
    }
})
</script>
