{% load url from future %}
{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% load lfs_portlets_tags %}{% load video_tags %}
{% load share_widget %}
<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
class="add-to-cart-form" method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">
    <div class="span12"><h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1>
</div>
</div>
<div class="row-fluid product-detail">
    {# Images #}
    <div class="span3">
        <p>Код: {% show_product_id product %}</p>
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_400x400 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
        </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/400x400.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li>
                <a href="{{ image.image.url_400x400 }}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                    <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span6" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <div class="row-fluid">
            <div class="span4">
                {% if product.status.show_buy_button %}
                <div class="product-quantity count pull-left">
                    <span class="spin-prev" value="less"></span>
                    <span class="spin-next" value="more"></span>
                    <input min="1" class="number quantity input-small" 
                        name="quantity" 
                        size="3" 
                        type="number"
                        value="4" />
                </div>
                {% endif %}
            <div class="prices">
                {% if product.is_product_with_variants %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                        {% cheapest_price product %}
                    </span>
                    </div>                
                {% else %}
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% price product %}</span>
                    </div>
                {% endif %}
                {% endif %}
                </div> <!-- prices -->
                <span class="label-popover pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% property_value_icons product %}
            </div>
            <div class="span4">
                {% if product.status.show_buy_button %}
                        <button class="btn btn-primary emphasized" type="submit" name="add-to-cart">
                            <i class="icon-shopping-cart icon-white">
                            </i> {% trans 'Купить' %}</button>
                {% else %}
                    <button class="btn btn-primary emphasized" onclick="window.location='{% url 'lfs_contact_form' %}'; return false" name="">
                        <i class="icon-shopping-cart icon-white">
                        </i>
                        {% trans 'Send request' %}
                </button>
                {% endif %}
            </div>
            <div class="span4">
                <p><a href="#product_description">Описание модели</a></p>
                <p>{% if not product.is_product_with_variants %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a id="compare" href="javascript:compare_add_product({{ product.id }})">{% trans "Добавить к сравнению" %}</a>
                    {% endif %}
                {% endif %}</p>
                <p>{% average_for_instance product %}</p>
                <p><a href="#a_reviews">Добавить отзыв</a></p>
            </div>
        </div>
        {% static_block "product_page_text" %}
    </div>
    <div class="span3">
        {% static_block "delivery" %}
    </div>
<input type="hidden" name="product_id" value="{{ product.id }}" />
</div>
{% share_us_widget %}
{# Variants #}


</form>
<div class="row-fluid" >
<div class="span12">
<div class="span3">
{% lfs_portlet_slot 'product_left' %}
</div>
<div class="span6">
{% if product.is_product_with_variants or product.is_variant %}
    {% include variants_display_type_template %}
{% endif %}
</div>
<div class="span3">
{% lfs_portlet_slot 'product_right' %}
</div>
</div>
</div>
<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>
    <li><a href="#all">{% trans "Все" %}</a></li>
    <li><a href="#properties">{% trans "Характеристики" %}</a></li>
{% if product.has_description %}
    <li><a href="{% url 'lfs_product_description' product.slug %}"><span>{% trans "Description" %}</span></a></li>
{% endif %}
{% if product.has_accessories %}
    <li><a href="{% url 'lfs_product_accessories' product.slug %}"><span>{% trans "Accessories" %}</span></a></li>
{% endif %}
    <li><a href="{% url 'lfs_product_reviews' product.slug %}"><span>{% trans "Отзывы" %}</span></a></li>
    <li><a href="#photo">{% trans "Фото" %}</a></li>
    <li><a href="#video">{% trans "Видео" %}</a></li>
    <li><a href="#articles">{% trans "Тесты" %}</a></li>

</ul>
<div id="all">
<div class="row-fluid">
<div class="span7">
{% if product.has_description %}
    {{ product.description|safe }}
{% endif %}


<a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
    rel="colorbox" title="{{ product.get_image.title }}">
    {% badges_for_product product %}
    <img src="{{ product.get_image.image.url_400x400 }}"
         alt="{{ product.get_image.title }}"
         class="product-image thumbnail"
         itemprop="image" />
    </a>
    <div class="vertical-slider">
    <ul class="thumbnails main-product">
        {% for image in product.get_sub_images %}
        <li>
            <a href="{{ image.image.url_400x400 }}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>

{% video_list_not_at_gallery product.id %}

{% insert_portlet "scms_relateddataportlet" %}

</div>
<div class="span5">
    {% reviews_for_instance product %}
    </div>
</div>
</div>
<div id="photo">
    <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
    rel="colorbox" title="{{ product.get_image.title }}">
    {% badges_for_product product %}
    <img src="{{ product.get_image.image.url_400x400 }}"
         alt="{{ product.get_image.title }}"
         class="product-image thumbnail"
         itemprop="image" />
    </a>
    <div class="vertical-slider">
    <ul class="thumbnails main-product">
        {% for image in product.get_sub_images %}
        <li>
            <a href="{{ image.image.url_400x400 }}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>
<div id="video">
    {% video_list_not_at_gallery product.id %}
</div>
<div id="articles">
    {% insert_portlet "scms_relateddataportlet" %}
</div>
</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{# Accessories #} {% if product_accessories %}
<div class="row-fluid">
    <div class="span12">
        <div class="accessories">
            <h3 class="section">
                {% trans 'Accessories' %}
            </h3>
            <table class="table table-striped table-bordered product-accessories lfs-default">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    <th class="number">
                        {% trans 'Quantity' %}
                    </th>
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                    <th class="number last">
                        {% trans 'Total' %}
                    </th>
                </tr>
                {% for product_accessory in product_accessories %}
                <tr>
                    <td class="checkbox-left">
                        <input type="checkbox" name="accessory-{{ product_accessory.accessory.id }}"
                        />
                    </td>
                    <td>
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                    {{ product_accessory.accessory.get_name|truncatewords_html:5 }}
                </a>
                    </td>
                    <td class="number">
                        <input type="hidden" name="quantity-{{ product_accessory.accessory.id }}"
                        value="{{ product_accessory.quantity }}" />
                        {{ product_accessory.quantity|quantity }}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {% price product_accessory.accessory %}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {% price product_accessory %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
</div>
</div>

<script type="text/javascript">
    function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        link = "/notebook/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url 'lfs_notebook' %}");
                if (id != undefined)
                {
                    $('#notebook')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                    page_designer.page_rebuild();
                }
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        link = "/comparison/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url 'lfs_comparison' %}");
                if (id != undefined)
                {
                    $('#comparison')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                    page_designer.page_rebuild();
                }
            }
        });
    };
</script>

{% block body_bottom %}
<script type="text/javascript">
    config.left_portlet_count--;
</script>
{% endblock %}